<header>
    <div class="title">
        <p>Health bar</p>
    </div>
    <div class="description">
        <h1>Make and find Respices everyone could love and find nutrition facts about foods you love</h1>
    </div>
    <div class="svg-img">
        <img>
        <p>a img belongs here</p>
    </div>
    <div class="list">
        <ul>
            <li><p>Get better at learning nutrition</p></li>
            <li><p>Post great Respices that everyone could love</p></li>
        </ul>
    </div>
    <div class="btns">
        <a>Sign up</a> 
        <a>or Login</a>
    </div>
    
    
</header>

