<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Health Guru</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lilita+One&family=Ropa+Sans&display=swap"
    rel="stylesheet">
</head>

<body>
  <header id="header" class="display-flex justify-space-between align-center p-2">
    <h1>
      <span role="img" aria-label="money">📕</span>
      <a href="/">Recipe Health Guru</a>
    </h1>
    <nav>
      <!-- Conditionally render login or logout links -->
      <a href="/dashboard">Dashboard</a> |
      {{#if logged_in}}
      <a href="/recipes">Recipes</a> |
      <a class="no-button" id="logout">Logout</a>
      {{else}}
      <a href="/login">Recipes</a> |
      <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    {{{ body }}}

    <a id="top" href="#header">^<br>T<br>O<br>P</a>
  </main>

  <footer id="footer-wrapper">
    <p>Made with Love by Team Health Guru</p>
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>