:root {

    --salmon: #E8A39B;
    --peach: #F0C1BC;
    --nude: #F6D4CB;
    --paste: #F8F7FD;
    --lilac: #DCCEE8;
    --grapes: #968DD0;
    --plum: #2E2E52;
    --water: #d5ebff;
    --pink: #F5CEEA;
    --periwinkle: #96BEE3;
    --violet: #5957B1;
    --eggshell: #EEEEEE;
    --custard: #fbfb8b;
    --leaves: rgb(210, 255, 194);
    --warning: rgb(255, 99, 99);

}

html {
    scroll-behavior: smooth;
    background-color: var(--water);
}

.hr {
    height: 5px;
    width: 70vw;
    background-color: grey;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--grapes);
}

/* main styling */
body {
    font-family: 'Caveat', cursive;
}

#header {
    color:white;
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
    text-align: center;
    padding-block: 20px;
    background-color: var(--periwinkle);
    border: 10px solid var(--plum);
    border-radius: 35px;
    transition-property: all;
    transition-duration: 0.5s;
}

#header:hover {
    background-color: var(--plum);
    border: 15px solid var(--grapes);
}

#header:hover a {
    color: var(--nude);
}

#header a {
    color:white;
}

#header a:hover {
    color: var(--salmon);
}

/* homepage styling */
@keyframes shimmer {
    0% {
        color: black;
    }
    50% {
        color: var(--warning);
    }
    100% {
        color: black;
    }
    
}

.greeting {
    text-align: center;
    font-size: 1.5rem;
    margin-inline: 25px;
}

.greeting a {
    animation-name: shimmer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.greeting a:hover {
    animation: none;
    color: grey;
}

.recipe-wrapper {
    text-align: center;
    margin-inline: 15px;
    padding-inline: 25px;
    border: 5px solid var(--periwinkle);
    background-color: var(--custard);
    border-radius: 15px;
    margin-block: 10px;
    transition-property: all;
    transition-duration: 0.3s;
}

.recipe-wrapper:hover {
    background-color: white;
    border: 5px solid var(--custard);
    box-shadow: 7px 7px grey;
}

/* login page styling */
#login-signup-wrapper {
    margin-top: 35px;
}

#login-wrapper, #signup-wrapper {
    font-family: 'Audiowide', cursive;
    line-height: 2rem;
    text-align: center;
    background-color: var(--custard);
    border-radius: 25px;
    border: 10px solid var(--pink);
    padding-inline: 15px;
    padding-block: 15px;
    margin-block: 15px;
    margin-inline: 25px;
    transition-property: all;
    transition-duration: 0.5s;
}

#login-wrapper:hover, #signup-wrapper:hover {
    border: 10px solid var(--custard);
    background-color: white;
    box-shadow: 7px 7px grey;
}

.submit {
    font-family: 'Audiowide', cursive;
    cursor: pointer;
    color:white;
    background-color: var(--grapes);
    margin-top: 10px;
    margin-inline: 10px;
    padding: 7px 15px;
    border: 5px solid var(--lilac);
    border-radius: 15px;
    transition-property: all;
    transition-duration: 0.3s;
}

.submit:hover {
    box-shadow: 3px 3px grey;
    color: black;
    background-color: white;
}
.submit:active {
    transition:none;
    border: 5px solid var(--plum);
    box-shadow: none;
    color:white;
    background-color: grey;
}

/* all recipes page styling */
#all-recipes-title {
    font-family: 'Audiowide', cursive;
}

.listOfRecipes {
    text-align: center;
}

/* single recipe page styling */
.single-recipe-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#recipe-title {
    font-size: 3rem;
}

#recipe-text {
    font-size: 1.2rem;
    margin-left:auto;
    margin-right:auto;
    padding-inline: 25px;
    padding-block: 45px;
    background-color: var(--custard);
    border-radius: 25px;
    width: 85vw;
    transition-property: all;
    transition-duration: 0.3s;
}

#recipe-text:hover {
    background-color: white;
    border: 7px solid var(--grapes);
    box-shadow: 9px 9px grey;
}

#comment-post-wrapper {
    font-family: 'Audiowide', cursive;
    text-align: center;
}

#commentText {
    font-family: 'Audiowide', cursive;
    display:block;
    margin-inline:auto;
    width: 40vw;
    resize:vertical;
}

#comments-wrapper {
    font-family: 'Audiowide', cursive;
    text-align: center;
}

.previous-comment {
    background-color: var(--leaves);
    border: 5px solid var(--leaves);
    border-radius: 10px;
    padding-block: 5px;
    margin-block: 15px;
    margin-inline: auto;
    width: 55vw;
    transition-property: all;
    transition-duration: 0.3s;
}

.previous-comment:hover {
    background-color: white;
    border: 5px solid var(--paste);
    box-shadow: 6px 6px grey;
}

/* dashboard styling */
.section-title {
    font-size: 1.3rem;
}

#recipe-name {
    width: 40vw;
}

#main-ingridient {
    width: 30vw;
    height: 1rem;
    resize:none;
}

#search-bar-wrapper, #post-recipe-wrapper {
    font-family: 'Audiowide', cursive;
    text-align: center;
    background-color: var(--custard);
    padding-block: 25px;
    padding-inline: 5px;
    width: 80vw;
    margin-inline:auto;
    border-radius: 25px;
    border: 10px solid var(--periwinkle);
    transition-property: all;
    transition-duration: 0.3s;
    margin-block: 15px;
}

#search-bar-wrapper:hover {
    background-color: white;
    border: 10px solid var(--pink);
    box-shadow: 7px 7px grey;
}

#post-recipe-wrapper:hover {
    background-color: white;
    border: 10px solid var(--leaves);
    box-shadow: 7px 7px grey;
}

#recipe-text {
    width: 65vw;
    height: 35vh;
    margin-inline: 5px;
    border-radius: 15px;
    border:1px solid black;
    padding-top:5px;
    margin-block: 15px;
    resize:vertical;
}

/* food nutrition page styling */
#no-data-wrapper {
    font-family: 'Audiowide', cursive;
    line-height: 2rem;
    width: 45vw;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin-block:35px;
    margin-inline: auto;
    padding-inline: 15px;
    padding-top: 25px;
    padding-bottom: 45px;
}

#nutrition-wrapper {
    font-family: 'Audiowide', cursive;
    text-align: center;
}

#food-title {
    font-size: 1.4rem;
}

@keyframes warning {
    0% {
        background-color: rgb(210, 248, 138);
    }
    50% {
        background-color: var(--warning);
    }
    100% {
        background-color: rgb(210, 248, 138);
    }
}

#vegan {
    font-size: 1.2rem;
    width:fit-content;
    padding-inline: 10px;
    padding-block:5px;
    margin-inline:auto;
    background-color: rgb(210, 248, 138);
    border-radius: 10px;
    border:5px solid var(--custard);
    animation-name: warning;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#nutrition-fact-box {
    background-color: var(--custard);
    width: 65vw;
    padding-block: 15px;
    margin-inline: auto;
    border-radius: 15px;
    border: 5px solid var(--custard);
    transition-property: all;
    transition-duration: 0.3s;
}

#nutrition-fact-box:hover {
    background-color: white;
    border: 5px solid var(--grapes);
    box-shadow: 7px 7px grey;
}

#related-recipes-title {
    font-family: 'Audiowide', cursive;
    text-align: center;
}

#new-search {
    text-align: center;
    display: block;
    width:fit-content;
    margin-inline:auto;
}